
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Todo App</title>
    <link rel="stylesheet" th:href="@{/css/default-ui.css}" type="text/css"/>
</head>
<body>
<div class="content">
    <form class="login-form" method="post" action="/login">

        <h1>Todo App</h1>

        <h2>Please sign in</h2>

        <p>
            <label for="email" class="screenreader">E-mail</label>
            <input type="text" id="email" name="email" placeholder="E-mail" required autofocus>
        </p>
        <p>
            <label for="password" class="screenreader">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </p>


        <button type="submit" class="primary">Sign in</button>
    </form>



</div>
</body>
</html>